<mat-toolbar>
    <span mat-button class="button fill-remaining-space" routerLinkActive="active">
        <a mat-menu-item [matMenuTriggerFor]="menu" routerLinkActive="active" #menuTrigger="matMenuTrigger"
            (mouseover)="menuTrigger.openMenu()">
            <span>Who will go to Google</span>
        </a>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <span (mouseleave)="menuTrigger.closeMenu()">
                <a mat-menu-item routerLink="/dashboard" routerLinkActive="active">Aishi
                </a>
                <a mat-menu-item routerLink="/txn-search" routerLinkActive="active">Mhashya
                </a>
                <a mat-menu-item routerLink="/txn-search" routerLinkActive="active">Shubhi
                </a>
            </span>
        </mat-menu>
    </span>
</mat-toolbar>